<?xml version="1.0" encoding="utf-8"?>
<EsmConfigurationDocument xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" schemaVersion="1.0" xmlns="http://www.phoenixcontact.com/schema/esmconfig">
  <Tasks>
    <CyclicTask name="Cyclic100" stackSize="0" priority="0" cycleTime="100000000" watchdogTime="100000000" executionTimeThreshold="0" />
  </Tasks>
  <EsmTaskRelations>
    <EsmTaskRelation esmName="ESM1" taskName="Cyclic100" />
  </EsmTaskRelations>
  <Programs>
    <Program name="BcProgram1" programType="BcProgram" componentName="BcComponent1" />
  </Programs>
  <TaskProgramRelations>
    <TaskProgramRelation taskName="Cyclic100" programName="BcComponent1/BcProgram1" order="0" />
  </TaskProgramRelations>
  <TaskEvents />
</EsmConfigurationDocument>