<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<OpcUAConfigurationDocument schemaVersion="2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.phoenixcontact.com/schema/opcuaconfig" xmlns="http://www.phoenixcontact.com/schema/opcuaconfig">
  <NodeName>axc-f-2152-1</NodeName>
  <ServerCertificate>
    <SelfSigned>
      <SubjectAlternativeName>
        <NotSet />
      </SubjectAlternativeName>
      <SubjectAlternativeName>
        <NotSet />
      </SubjectAlternativeName>
      <SubjectAlternativeName>
        <NotSet />
      </SubjectAlternativeName>
      <SubjectAlternativeName>
        <NotSet />
      </SubjectAlternativeName>
    </SelfSigned>
  </ServerCertificate>
  <GdsPortsToProvide>
    <None />
  </GdsPortsToProvide>
  <SecuritySettings>
    <Basic256 />
    <Basic256Sha256 />
  </SecuritySettings>
</OpcUAConfigurationDocument>